:root
{
    --primary-color: #381d2a;
    --secondary-color: #f39b6d;
    --accent1-color: #aabd8c;
    --accent2-color: #e9e3b4;
    --accent3-color: #3e6990;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: #f39b6d;
    color: #e9e3b4;
}
header
{
    background-color: #381d2a;
    padding: 20px;
    font-size: 2rem;
    justify-content: center;
    text-align: left;
}
h1
{
    font-size: 2rem;
    color: #381d2a;
    padding: 2rem;
}
.card
{
    border: 1px solid #381d2a;
    background-color: #e9e3b4;
    border-radius: 10px;
    margin: 1rem;
    overflow: hidden;
}
.card h2
{
    background-color: #3e6990;
    color: #ffff;
    text-align: center;
    padding: 1rem 0;
    display: block;
}
.card ul li
{
    padding: 2px;
    color: #381d2a;
    text-decoration: none;
}
.card a
{
    color: #381d2a;
}
nav
{
    background-color: #3e6990;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px;
}
nav a
{
    padding: 1rem;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    display: block;
    text-align: center;

}
nav ul
{
    list-style-type: none;
}
nav ul li
{
    flex: 1 1 100%;
}
nav a:hover
{
    background-color: #381d2a;
    color: #aabd8c;
    display: block;
}
.active
{
    background-color: #f39b6d;
    color: #381d2a;
    text-decoration: block;
}
footer
{
    color: #381d2a;
}
